<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | GeoFeeds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=600">
    <link rel="icon" type="image/png" href="/images/geofeeds_logo.png">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="briefing-page">
    <header class="site-header">
        <img src="/images/geofeeds_header.png" alt="GeoFeeds - Spatial News Aggregator" class="header-image" />
    </header>
    <h1>Geospatial News Aggregator</h1>
    <h4>Add your feed - <a href="https://bsky.app/profile/geobabbler.bsky.social">@geobabbler</a>, <a href="https://bsky.app/profile/jamesfee.bsky.social">@jamesfee</a> or create an <a href="https://github.com/geobabbler/neptune">issue on Github</a>.</h4>
    <h5><a href="/list">List of feeds</a> | <a href="/feed">Raw RSS</a> | <a href="/briefings">Briefings</a></h5>
    <div class="feed-item">
        <div class="feed-description">
            <%- html %>
        </div>
    </div>
    <pre>Powered by Neptune</pre>
    <h3>In memory of <a href="https://spatiallyadjusted.com/planetgs/">Planet Geospatial</a>:  2005-2014</h3>
    <h4>Trans rights are human rights.</h4>
<!-- Default Statcounter code for GeoFeeds https://geofeeds.co -->
<script type="text/javascript">
    var sc_project=13087567; 
    var sc_invisible=1; 
    var sc_security="3a2f1e85"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/13087567/0/3a2f1e85/1/"
    alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>
</html>
